footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: min-content;
  margin: 0;
  
  font-family: Helvetica, sans-serif;
  font-size: .7em;
  letter-spacing: .2em;
  color: rgb(163, 162, 162);
  background-color: rgb(241, 241, 241);
  padding: 1em 0 2em 0;
}
footer .section{
  width: 50%;
}
footer .section .instagram{
  height: 2em;
  margin-left: 1em;
  vertical-align: top;
}
footer .left {
   border-right: 2px solid rgba(255, 255, 255, 0.609);
   text-align: right;
   padding-right: 1em;
}
footer .right {
   text-align: right;
   text-transform: lowercase;
}
footer a {
   color: red;
}
footer a {
  text-decoration: none;
  
  opacity: .6;
}
footer a:hover {
  opacity: 1;
}
@media only screen and (max-width: 375px) {
   footer {
      line-height: 1.5em;
   }
   footer p{
      margin: 0 auto;
      padding: 2% 0;
      text-align: center;
    }
    footer .left {
       width: 90%;
    }
    footer .right {
       width: 10%;
    }

}