footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: min-content;
  margin: 0;
  
  font-family: Helvetica, sans-serif;
  font-size: .7em;
  letter-spacing: .2em;
  color: rgb(163, 162, 162);
  background-color: rgb(241, 241, 241);
  padding: 1em 0 2em 0;
}
footer .section{
  width: 50%;
}
footer .section .instagram{
  height: 2em;
  margin-left: 1em;
  vertical-align: top;
}
footer .section img{
  height: 4em;
  
  vertical-align: middle;
}
footer .left {
   border-right: 2px solid rgba(255, 255, 255, 0.609);
   text-align: right;
   padding-right: 1em;
}
footer .right {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   text-align: left;
   text-transform: lowercase;
}
footer a {
   color: black;
}
footer a {
  text-decoration: none;
  
  opacity: .6;
}
footer a:hover {
  opacity: 1;
}
.credit {
   text-transform: none;
   color: rgb(238, 89, 89);
}
.credit.mobile {
   display: none;
}
@media only screen and (max-width: 375px) {
   footer {
      line-height: 1.5em;
   }
   footer p{
      margin: 0 auto;
      padding: 2% 0;
      text-align: center;
    }
    footer .left {
       width: 90%;
    }
    footer .right {
       width: 10%;
    }
    .credit.desk-top {
       display: none;
    }
    .credit.mobile {
       display: initial;
    }

}