footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 12vh;
  margin: 5vh 0 0 0;
  text-transform: lowercase;
  font-family: Helvetica, sans-serif;
  font-size: .8em;
  letter-spacing: .2em;
  color: rgb(163, 162, 162);
  opacity: .5;
  background-color: rgb(241, 241, 241);
  padding: 1em 0 2em 0;

}
footer p{
  margin: 1vh 7vw 0 0;
  text-align: right;
}
footer a {
  text-decoration: none;
  color: rgb(238, 89, 89);
}
@media only screen and (max-width: 375px) {
   footer {
      height: min-content;
      margin: 0;
      padding: 0;
      z-index: -1;
   }
   footer p{
      margin: 1em auto;
      text-align: center;
    }
}