header {
  position: fixed;
  top: 0;
  height: 5em;
  width: 100%;
  background-color: white;
  padding-top: 2vh;
  display: flex;
  align-items: baseline;
  z-index: 3;
}
header a {
   text-decoration: none;
   color: inherit;
}
.logo-container {
   display: flex;
}
.logo-container h1 {
   font-family: Helvetica, sans-serif;
   font-weight: 100;
   text-transform: uppercase;
   line-height: 1em;
   width: 200px;
   margin: 0 0 0 1vw;
   overflow-wrap: normal;
}
.logo-container img {
  height: 60px;
  margin: 0 0 0 .2em;
}
.mobile-navigation {
   display: none;
}
.navigation {
  height: min-content;
  width: 50vw;
  margin: 0 0 0 2vw;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  display: flex;
}
.navigation li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
.navigation li a:hover {
  color: rgb(0, 0, 0);
}
.photographers-dropdown{
  width: min-content;
  z-index: 9;
  height: 2em;
  overflow: hidden;
}

.photographers-dropdown a {
   margin: .8em;
}
.show {
  padding-bottom: 1em;
  width: min-content;
  height: min-content;
  overflow: visible;
  background-color: rgb(255, 255, 255);
  width: 28vw;
}
.photog-link {
   display: flex;
   flex-wrap: wrap;
   margin-left: .5em;
}
.photog-link li {
   padding: 0;
   margin: 0;
   min-width: 150px;
}
.photog-link .active-link {
   color: rgb(238, 89, 89);
}
.photographers-dropdown li {
  height: min-content;
  font-size: .7em;
  text-transform: none;
  display: block;
  
}
.photographers-dropdown a {
  line-height: 1.6em;
  font-weight: 400;
  letter-spacing: .1em;
  margin: 0 0 0 .4em;
  /* color: white; */
}
#dropdown-open {
  margin-bottom: .5em;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}
#dropdown-open:hover {
  color: rgb(0, 0, 0);
}
.photographers-dropdown li a {
  /* color: rgb(98, 138, 199); */
}
.photographers-dropdown li a:hover {
  color: rgb(238, 89, 89);
}

.instagram {
   height: 1.4em;
   opacity: .4;
}
.instagram:hover {
   opacity: 1;
}
/* =========== Media Query ======== */

@media only screen and (max-width: 375px) {
   header {
      width: 100%;
      padding-top: 0;
      flex-wrap: wrap;
      /* display: initial; */
    }
   .logo-container img {
     height: 60px;
     margin: 0;
   }
   .navigation {
      display: none;
   }
   
   .mobile-navigation {
      display: initial;
      height: min-content;
      width: 100%;
      margin: 0;
      font-family: Helvetica, sans-serif;
      font-size: 1.3em;
      font-weight: 100;
      color: rgba(0, 0, 0, 0.4);
      text-transform: uppercase;
      display: flex;
    }
    .mobile-navigation li a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.4);
    }
   .mobile-navigation .show {
      padding-bottom: 1em;
      width: min-content;
      height: min-content;
      overflow: visible;
      background-color: rgb(255, 255, 255);
    }
    #dropdown-open:hover {
       /* important! */
      color: rgb(0, 0, 0, 0.4);
    }
    .photographers-dropdown a {
      line-height: 2em;
      font-weight: 400;
      letter-spacing: .1em;
      margin: 0 0 0 .4em;
      color: white;
    }
    .mobile-navigation .instagram {
       height: 2em;
       margin-top: -.5em;
    }
}
@media only screen and (max-width: 320px) {
   .mobile-navigation {
      font-size: 1.2em;
   }
   .mobile-navigation .instagram {
     height: 1.5em;
     margin-top: -.1em;
  }
}



