.home {
   height: min-content;
   margin-top: 0;
}
.home .banner {
   height: 20em;
   overflow: hidden;
}
.home .banner img {
   margin-top: -5em;
   width: 100%;
   opacity: .8;
}
.home p {
   width: 90%;
   font-family: Hoefler Text;
   font-size: 1em;
   font-weight: 100;
   letter-spacing: .1em;
   margin: 0 auto;
   color: rgba(0, 0, 0, 0.555);
   padding: 2%;
   padding-top: 2em;
}
.home a {
   text-decoration: none;
   font-weight: 700;
   color: rgba(0, 0, 0, 0.562);
}
.home a:hover {
   color: black;
}


@media only screen and (max-width: 375px) {
   .home .banner {
      height: 7em;
      margin-top: 2em;
   }
   .home .banner img {
      margin-top: -50px;
   }
   
   .home p {
      width: 95%;
      font-family: Hoefler Text;
      font-size: 1em;
      font-weight: 100;
      letter-spacing: .1em;
      margin: 0;
      color: rgba(0, 0, 0, 0.555);
   }
   .home p a {
      text-decoration: underline;
   }
   .home h2 {
      margin: 0 0 0 .5em;
      opacity: .8;
   }
}
@media only screen and (max-width: 320px) {
   .home p {
      padding-top: .5em;
   }
}